    html, body { 
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    display: none;
}

.pony { 
    left: 100px;
    top: 100px; 
    
    width: 200px;
    height: 200px;
 
    position: absolute;
}

.pony td, .pony tr, .pony table {
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: middle;
    text-align: center;
}

#questList {
    position:fixed;
    
    padding: 30px;
    width: 250px; 
    height: 200px;

    top: 0px;
    right: 0px;
}



#questList table, #questList td, #questList th, #questList tr {
    padding: 10px;
}

#questList table{
    width:  100%;
    height: 100%;

    text-align: center;
}

#questList th p {
    margin: 0px;
    margin-bottom: 12.5px;
}
#questList th hr {
    margin: 0px;
    margin-top: 20px;
    border: 1px solid #D6CE93;
    
}

/* Corners */
.leftTopCorner {
    border: 0px;
    border-left: 2px solid #D6CE93;
    border-top: 2px solid #D6CE93;

    width: 20px;
    height: 20px;
} 
.leftBotCorner {
    border: 0px;
    border-left: 2px solid #D6CE93;
    border-bottom: 2px solid #D6CE93;

    width: 20px;
    height: 20px;
}   
.rightTopCorner {
    border: 0px;
    border-right: 2px solid #D6CE93;
    border-top: 2px solid #D6CE93;

    width: 20px;
    height: 20px;
} 
.rightBotCorner {
    border: 0px;
    border-right: 2px solid #D6CE93;
    border-bottom: 2px solid #D6CE93;

    width: 20px;
    height: 20px;
} 
